.articleWrapper{
    margin: 0 auto;
    max-width: 100%;
    padding: 100px;
    
}

.articleHeader{
    background-color:rgb(197, 240, 255);
    background-size: cover;
    padding: 40px 20px 20px;
    text-align: center;
}

.articleBody{
    padding: 40px 0;
}