.articleCardButton{
    display:flex; 
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: rgba(161, 48, 44, 0.367);
    padding: 5px 10px;
    margin-bottom: 30px;
}

.articleCardButton:hover{
    background-color: rgb(161, 48, 44);
}

.articleCard{
    display:flex; 
    border: 5px solid rgb(161, 48, 44);
    border-radius: 50px;
    background-color: rgb(240, 234, 211);
    gap: 20px;
    padding: 20px;
    margin-bottom: 30px;

}
.articleCard:hover{
    border: 8px solid rgb(161, 48, 44);
    box-shadow: 10px 15px 10px gainsboro;
}

.articleCardContent{
    padding-left: 5px;
    flex-grow: 1;
}

.articleCardImg{
    margin: auto;
    height:100%;
    max-width:200px;
}
.articleCardImg img{
    width:100%;
    height:auto;
    border-radius: 25px;
}